config moontvplus 'main'
	option enabled '0'
	option port '3000'
	option username 'admin'
	option password ''
	option site_name 'MoonTVPlus'
	option storage_type 'd1'
	option core_dir '/mnt/moontvplus/core'
	option release_repo 'ysuolmai/openwrt-packages'
	option release_tag 'moontvplus-core'
	option data_dir '/etc/moontvplus'
	option download_dir '/mnt/moontvplus/downloads'
	option enable_tv_mode '1'
	option enable_offline_download '0'
	option watch_room_enabled '0'
	option watch_room_server_type 'internal'
	option watch_room_external_url ''
	option watch_room_external_auth ''
	option redis_url ''
	option kvrocks_url ''
	option upstash_url ''
	option upstash_token ''
	option cron_password ''
	option respawn '1'
